@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="text-align:center">
        <div class="px-4" style="text-align:center; background-color:#FF0000; color:white;">
            <h1 style="color:white;">HSBC Bank Argentina, S.A.</h1>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
